<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.laomuji666.compose.ComposeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Quickly"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">

        <activity
            android:name="com.laomuji666.compose.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:pathPattern="/chat/*"
                    android:host="compose.laomuji666.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        
        <activity-alias
            android:name="com.laomuji666.compose.DefaultAliasActivity"
            android:enabled="true"
            android:exported="true"
            android:targetActivity="com.laomuji666.compose.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.laomuji666.compose.DynamicAliasActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_dynamic"
            android:targetActivity="com.laomuji666.compose.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".feature.video.VideoPlayActivity"
            android:exported="false" />

        <activity android:name=".WebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>